<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:fragment="head">
        <title th:text="${pageTitle}">Template title</title>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    </head>
    <body>

        <div class="bg">
            <img src="./img/body-bg1.jpg.png" alt=""/>
        </div>

        <div class="darcklayer">

        </div>

        <div class="container">
            <div class="row">
                <div class="error-404-wrapper col-md-12">
                    <div class="col-md-12">
                        <h1>Algo de errado não está certo</h1>
                    </div>
                    <div class="col-md-12">
                        <h3>Tivemos uns problemas técnicos mas jajá passa</h3>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="error-404-img-wrapper text-center">
                    <img src="./img/rick3.gif" />
                </div>
            </div>
        </div>


    </body>
</html>
