<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head></head>
    <body>


        <section th:fragment="post-register">
            <form id="register-form" method="post" action="/posts">
                <div class="form-group col-md-12">            
                    <label for="name">Título</label>
                    <input id="title" 
                           required="true" 
                           name="title" 
                           type="text" 
                           class="form-control" 
                           placeholder="Título do Post"
                           title="Título do Post"/>
                    <small id="nameHelp" class="form-text text-muted">Título do Post Pró Bolsonaro</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="imageUrl">Imagem</label>
                    <input required="true" 
                           name="imageUrl" 
                           id="imageUrl"
                           type="url"
                           class="form-control" 
                           aria-describedby="imageHelper" 
                           placeholder="EX: https://ep01.epimg.net/brasil/imagenes/2017/11/23/politica/1511456838_152216_1511458279_noticia_normal.jpg"/>
                    <small id="imageHelper" class="form-text text-muted">URL de uma imagem para o post</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="postUrl">URL do Post</label>
                    <input required="true" 
                           name="sourceUrl" 
                           id="sourceUrl" 
                           type="url"
                           class="form-control" 
                           placeholder="EX: https://www.oantagonista.com/brasil/segundo-turno-bolsonaro-empata-com-haddad-ciro-e-alckmin/" 
                           title="URL para o post à ser cadastrado"/>
                    <small id="postUrlHelper" class="form-text text-muted">
                        URL para o post à ser cadastrado
                    </small>
                </div>
                <div class="row text-center">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success" id="cadastrar" title="Cadastrar">Cadastrar</button>
                    </div>
                </div>
                <div class="text-center login-message hidden" id="register-error">
                    <div class="alert alert-danger">
                        <span id="register-error-msg"></span>
                    </div>
                </div>
            </form>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="alert alert-dismissible alert-success" th:if="${successMsg}">
                <strong>Successo</strong> <span th:text="${successMsg}"></span>
            </div>
        </section>
    </body>
</html>
