<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head></head>
    <body>
        <section th:fragment="post-table" th:if="${posts?.size &gt; 0}">
           
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Tweets cadastrados</h3>
                </div>
                <div class="panel-body">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Post</th>
                                <th>Imagem</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="post : ${posts.content}">
                                <td th:text="${post.title}"></td>
                                <td><a th:href="${post.sourceUrl}" target="_blank">Link para o Post</a></td>
                                <td><a th:href="${post.imageUrl}" target="_blank">Link para a Imagem</a></td>
                                <td>
                                    <a href="#" class="btn btn-danger btn-sm">Remover Post</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" 
                            th:each="i : ${#numbers.sequence(0, posts?.totalPages > 0 ? posts?.totalPages -1 : posts?.totalPages)}">
                            <li class="page-item">
                                <a class="page-link btn-info" 
                                   th:href="${'/posts?page=' + i}" 
                                   th:text="${i+1}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </section>
    </body>
</html>
