<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:fragment="head">
        <title th:text="${pageTitle}">Template title</title>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-mensagem" title="Cadastrar">Cadastrar Usuário</a>
                            </li>
                            <li ><a th:href="@{/logout}" title="Sair">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div th:replace="fragments/user/register"></div>
        </header>
        
        

    </body>
</html>