html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 130px;
}

.bg img{
    height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: -2;
}

.darcklayer{
    background-color: rgba(27, 30, 35, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.login-wrapper{
    background: #fff;
    padding: 24px;
    padding-bottom: 0px;
    border-radius: 3px;
}

header{
    color: #fff;
}

.index-brand{
    color: #fff;
    font-size: 2em;
    padding: 24px;
    font-weight: bold;
}

.alert-container{
    padding-bottom: 1px;
}

.sc-name-wrapper{
    font-weight: bold;
    font-size: 1.1em;
}

.sc-description-wrapper{
    font-size: 1em;
    margin-bottom: 10px;
}

.participants-wrapper{
    font-weight: bold;
}

.sc-card{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #aaa;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.subscribe-info-wrapper{
    padding-top: 15px;
}

.participants-wrapper{
    margin-bottom: 15px;
}

.sc-name-wrapper{
    margin-bottom: 10px;
}

.participants-subscribe-wrapper{
    margin-bottom: 10px;
}

.section-title{
    margin: 30px;
}

.sc-date-wrapper{
    font-weight: bold;
}

.jumbotron{
    margin-top: 50px;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

footer{
    background-color: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 130px;
}

.github-img-wrapper img{
    height: 130px;
}

.error-404-wrapper{
    color: #fff;
}

.error-404-img-wrapper{
    margin-top: 70px;
}

.error-404-img-wrapper img{
    max-width: 80%;
    max-height: 380px;
    border-radius: 3px;
}