<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="fragments/header :: head (pageTitle='Post Feed')">
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        

        <div class="modal fade" id="modal-mensagem">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center alert-container hidden" id="alert-error">
                                    <div class="alert alert-danger">
                                        <span id="alert-error-msg"></span>
                                    </div>
                                </div>
                                <div class="text-center alert-container hidden" id="alert-success">
                                    <div class="alert alert-success">
                                        <span id="alert-success-msg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Fechar">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Posts</h1>
                <p>Abaixo você pode adicionar qualquer post pró bolsonaro!</p>
                <span th:text="${post}"></span>
            </div>
        </div>
        
        <div class="container">
            
            <div th:replace="fragments/post/post-register">
                
            </div>
            
             <hr/>
            <div th:replace="fragments/post/post-table">
                
            </div>
            
        </div>

        <footer th:replace="/fragments/footer :: footer"></footer>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>         

    </body>
</html>
